/* get the required local files */
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot'); /* IE9 Compat Modes */
  src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('roboto.woff') format('woff'), /* Modern Browsers */
  url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Design Icons';

  src: url('../fonts/Material-Design-Icons.eot');
  src: url('../fonts/Material-Design-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Material-Design-Icons.woff2') format('woff2'), url('../fonts/Material-Design-Icons.woff') format('woff'), url('../fonts/Material-Design-Icons.ttf') format('truetype'), url('../fonts/Material-Design-Icons.svg#Material-Design-Icons') format('svg');
}

/* Use the font */
html, body, div, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', inherit, sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}